@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
html {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}
html, body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	background: #efefef;
	color: #424a4d;
}
h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
}
h1 {
	line-height: 43px
}
h2 {
	line-height: 35px
}
h3 {
	line-height: 30px
}
h4 {
	line-height: 22px
}
h3 small, h4 small, h5 small {
	font-weight: 300;
	color: #444;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	color: #505458
}
.navbar {
	min-height: 40px;
	margin-bottom: 0px;
}
.navbar ul {
	padding: 0px!important;
	margin: 0px!important;
}
.navbar-nav li {
	display: inline-block;
}
.navbar-nav li a {
	padding-bottom: 10px;
	padding-top: 10px;
}
#last-one {
	position: absolute;
	right: 40px;
}

.navbar-nav li:last-child {
	position: absolute;
	right: 0;
	border: none;
}
.navbar, .navbar-inverse {
	border: medium none;
	border-radius: 0;
}
.header .header-seperation {
	display: block;
	height: 40px;
	width: auto;
}
.fixed {
	position: fixed;
}
#sidebar {
	height: 100%;
	transition: all 0.3s ease-in-out 0s;
	width: 210px;
	left: 0;
	float: left;
}
#sidebar ul li {
	position: relative;
}
#sidebar h3 {
	font-weight: bold;
	font-size: 18px;
	padding: 15px 10px;
	margin: 0;
	text-transform: uppercase;
}
.sidebar-user {
	padding: 20px 0px 20px 88px;
}
.sidebar-user-avatar {
	background: rgba(0, 0, 0, 0.15);
	border-radius: 34px;
	float: left;
	height: 68px;
	margin-left: -78px;
	padding: 2px;
	width: 68px;
}
.sidebar-user-avatar img {
	border-radius: 32px;
	height: 64px;
	width: 64px;
}
.sidebar-user-name {
	font-size: 14px;
	font-weight: 300;
	line-height: 26px;
	margin-top: 10px;
	font-weight: bold;
	text-decoration: none;
}
.sidebar-user-links a {
	margin-right: 12px;
	opacity: 0.3;
}
.sidebar-user-links a:focus, .sidebar-user-links a:hover {
	opacity: 1;
	text-decoration: none;
}
.sidebar-user-links a > i {
	font-size: 16px;
}
.leftside-navigation, .right-stat-bar {
	height: 100%;
}
.right-stat-bar ul {
	list-style-type: none;
	padding-left: 0;
}
.right-side-accordion li:nth-child(2) ul li .prog-row {
	border: medium none;
}
.nav-collapse.collapse {
	display: inline;
}
ul.sidebar-menu, ul.sidebar-menu li ul.sub {
	margin: -2px 0 0;
	padding: 0;
}
#sidebar > ul > li > ul.sub {
	display: none;
}
#sidebar .sub-menu > .sub li a {
	padding-left: 45px;
}
#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
	display: block;
}
ul.sidebar-menu li ul.sub li {
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}
ul.sidebar-menu li ul.sub li a {
	font-size: 12px;
	padding-bottom: 10px;
	padding-top: 10px;
	transition: all 0.3s ease 0s;
}
ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
	display: block;
	transition: all 0.3s ease 0s;
}
ul.sidebar-menu li.sub-menu {
	line-height: 15px;
}
ul.sidebar-menu ul.sub li {
	border-bottom: medium none;
}
ul.sidebar-menu li a span {
	display: inline-block;
}
ul.sidebar-menu li a {
	display: block;
	font-size: 12px;
	font-weight: bold;
	outline: medium none;
	padding: 12px 12px 12px 25px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}
ul.sidebar-menu li a.active, ul.sidebar-menu li a:focus {
	display: block;
	transition: all 0.3s ease 0s;
}
ul.sidebar-menu li a i {
	font-size: 15px;
	padding-right: 6px;
}
ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
}
ul.sidebar-menu li a.active i {
}
.top-margin {
	margin-top: 40px;
}
.page-container {
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}
#main-content {
	left: 209px;
	right: 0;
	transition: all 0.3s ease-in-out 0s;
	position: absolute;
}
#main-content2 {
	position: absolute;
	right: 209px;
	transition: all 0.3s ease-in-out 0s;
}
#main-content3 {
	position: absolute;
	right: 210px;
	transition: all 0.3s ease-in-out 0s;
	width: 950px;
}
.page-content {
	display: inline-block;
	padding: 20px;
	width: 100%;
	margin-top: 40px;
	position: relative;
}
.page-content:after {
	clear: both;
	content: "";
	display: block;
}
/*dark-theme color start*/

.dark-theme .navbar, .navbar-inverse {
	background-color: #363b3f;
}
.dark-theme #sidebar {
	background: #363b3f;
}
.dark-theme ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
	background: #424a4d;
	color: #dadbdd;
}
.dark-theme #sidebar h3 {
	color: #fff;
}
.dark-theme .sidebar-user {
	border-top: 2px solid #24292D;
	border-bottom: 1px solid #474c50;
}
.dark-theme .sidebar-user-name {
	color: #fff;
}
.dark-theme .sidebar-user-links a {
	color: #FFFFFF;
}
.dark-theme .sidebar-user-links a:focus, .sidebar-user-links a:hover {
	color: #FFFFFF;
}
.dark-theme ul.sidebar-menu li ul.sub li {
	background: #2a2f33;
}
.dark-theme ul.sidebar-menu li ul.sub li a {
	color: #AEB2B7;
}
.dark-theme ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
	background: #424a4d;
	color: #dadbdd;
}
.dark-theme ul.sidebar-menu li a {
	color: #AEB2B7;
}
.dark-theme ul.sidebar-menu li a.active, ul.sidebar-menu li a:focus {
	background: #424a4d;
	border-bottom: 1px solid #2d3236;
	border-top: 1px solid #485053;
	color: #dadbdd;
}
.dark-theme ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
	color: #dadbdd;
}
.dark-theme ul.sidebar-menu li a.active i {
	color: #dadbdd;
}
.dark-theme .navbar-nav li {
	border-left: 1px solid #454a4e;
}
.dark-theme .sidebar-user {
	background: rgba(0, 0, 0, 0.15);
}
.dark-theme .hov .con {
	color: #aeb2b7;
}
.dark-theme .hov .con:hover {
	background: none!important;
	color: #428BCA;
}
.dark-theme .hov .con:focus {
	background: none!important;
	color: #FFFFFF;
}
.dark-theme .searchform input {
	background: url("../images/icon-search.png") no-repeat scroll 95% center rgba(0,0,0,0.10);
	color: #999;
}
.dark-theme .searchform input:focus {
	background: url("../images/icon-search.png") no-repeat scroll 95% center rgba(0,0,0,0.10);
	color: #999;
}
/*dark-theme color end*/

/*light-theme color start*/
.light-theme .navbar, .navbar-inverse {
	background-color: #fff;
	color: #5f5c57;
}
.navbar-inverse .navbar-nav > li > a:hover {
	color: #999999;
}
.navbar-inverse .navbar-nav > li > a:focus {
	color: #999999;
}
.light-theme #sidebar {
	background: #fff;
}
.light-theme ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
	background: #fff;
	color: #ffffff;
}
.light-theme #sidebar h3 {
	color: #5f5c57;
}
.light-theme .sidebar-user {
	border-top: 2px solid #efefef;
	border-bottom: 1px solid #efefef;
}
.light-theme .sidebar-user-name {
	color: #5f5c57;
}
.light-theme .sidebar-user-links a {
	color: #000;
}
.light-theme .sidebar-user-links a:focus, .sidebar-user-links a:hover {
	color: #5F5C57;
}
.light-theme ul.sidebar-menu li ul.sub li {
	background: #fff;
}
.light-theme ul.sidebar-menu li ul.sub li a {
	color: #5f5c57;
}

.light-theme ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
	background: #ff634d;
	color: #fff;
}
.light-theme ul.sidebar-menu li a {
	color: #5f5c57;
}
.light-theme ul.sidebar-menu li a.active, ul.sidebar-menu li a:focus {
	background: #ff634d;
	border-bottom: 1px solid #ff8776;
	border-top: 1px solid #ff8776;
	color: #fff;
}
.light-theme ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
	color: #5F5C57;
}
.light-theme ul.sidebar-menu li a.active i {
	color: #fff;
}
.light-theme .navbar-nav li {
	border-left: 1px solid #d6d5d3;
}
.light-theme .sidebar-user {
	background: rgba(255, 255, 255, 0.2);
}
.light-theme .hov .con {
	color: #363b3f;
}
.light-theme .hov .con:hover {
	color: #428BCA;
}
.light-theme .hov .con:focus {
	color: #363b3f;
}
.light-theme .searchform input {
	background: url("../images/icon-search.png") no-repeat scroll 95% center rgba(255,255,255,0.10);
	color: #999;
}
.light-theme .searchform input:focus {
	background: url("../images/icon-search.png") no-repeat scroll 95% center rgba(255,255,255,0.10);
	color: #999;
}
/*light-theme color end*/





.panel {
	background-color: #FFFFFF;
	border-radius: 0 !important;
	box-shadow: none !important;
}
.merge-left {
	left: 0px!important;
}
.hide-left-bar {
	left: -210px!important;
}
.box-shadow {
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}
.box-shadow2 {
	box-shadow: 4px 0px 3px -3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}
.bg-danger {
	background-color: #ff482e;
	color: #FCE5E8;
}
.bg-success {
	background-color: #8EC165;
	color: #FCE5E8;
}
.changed-position {
	position: absolute!important;
}
body.container {
	border-left: 1px solid #CBD5DD;
	border-right: 1px solid #CBD5DD;
	box-shadow: 0 3px 60px rgba(0, 0, 0, 0.3);
	padding: 0;
}
.hov .btn-group {
	margin-right: 10px;
	z-index: 101;
}
.hov .con {
	display: block;
	font-size: 15px;
	height: 40px;
	line-height: 20px;
	padding: 10px 15px;
	text-decoration: none;
	background: transparent!important;
}
.hov .dropdown-menu {
	border: 0 none;
	border-top-right-radius: 0;
	font-size: 12px;
	margin-top: -4px;
	border-radius: 0;
}
.hov .dropdown-menu a:hover {
	background: none;
	color: #FFFFFF;
}
.hov .label {
	border-radius: 10px;
	font-size: 8px;
	font-weight: normal;
	left: 22px;
	position: absolute;
	top: 2px;
}
.dropdown-alerts > .title {
	border-bottom: 1px solid #DDDDDD;
	height: 40px;
	line-height: 20px;
	margin-bottom: 0;
	padding: 10px;
	width: 320px;
}
.dropdown-alerts > .alert {
	clear: both;
	content: "";
	display: table;
	height: 40px;
	line-height: 20px;
	margin-bottom: 0;
	padding: 10px;
	width: 320px;
}
.dropdown-alerts > .alert:hover {
	background: none repeat scroll 0 0 #EFEFEF !important;
	cursor: pointer;
}
.dropdown-alerts > .alert > .alert-icon {
	display: table-cell;
	font-size: 16px;
	position: relative;
	text-align: left;
	top: 1px;
	width: 25px;
}
.dropdown-alerts > .alert > .alert-content {
	color: #333333;
	display: table-cell;
	text-align: left;
}
.dropdown-alerts > .alert > .alert-time {
	color: #999999;
	display: table-cell;
	text-align: right;
}
.dropdown-alerts > .alert > .alert-icon.alt-default {
	color: #333333;
}
.dropdown-alerts > .alert > .alert-icon.alt-primary {
	color: #7BAEDA;
}
.dropdown-alerts > .alert > .alert-icon.alt-warning {
	color: #D58512;
}
.dropdown-alerts > .alert > .alert-icon.alt-danger {
	color: #DF6F6C;
}
.dropdown-alerts > .divider, .dropdown-messages > .divider {
	margin-bottom: 5px !important;
	margin-top: 0 !important;
}
.dropdown-alerts > li > a, .dropdown-messages > li > a {
	height: 40px;
	line-height: 20px;
	padding: 10px;
	border: none;
}
.dropdown-alerts > li > a, .dropdown-messages > li > a:last-child {
	position: relative;
}
.dropdown-messages > .title {
	border-bottom: 1px solid #DDDDDD;
	height: 40px;
	line-height: 20px;
	margin-bottom: 0;
	padding: 10px;
	width: 320px;
}
.dropdown-messages > .message {
	clear: both;
	content: "";
	display: table;
	height: 40px;
	line-height: 20px;
	margin-bottom: 0;
	padding: 10px;
	width: 320px;
}
.dropdown-messages > .message:hover {
	background: none repeat scroll 0 0 #EFEFEF !important;
	cursor: pointer;
}
.dropdown-messages > .message > .message-icon {
	display: table-cell;
	font-size: 16px;
	position: relative;
	text-align: left;
	top: 1px;
	width: 30px;
}
.dropdown-messages > .message > .message-icon > img {
	height: 30px;
	width: 30px;
}
.dropdown-messages > .message > .message-content {
	color: #333333;
	display: table-cell;
	padding-left: 5px;
	text-align: left;
}
.dropdown-messages > .message > .message-time {
	color: #999999;
	display: table-cell;
	text-align: right;
}
.dropdown-messages > li > .message-content > a {
	padding: 0px;
	margin: 0px;
}
.dropdown-messages > li > .message-content > a:hover {
	text-decoration: none;
	color: #333;
}
.dropdown-profile > .title {
	border-bottom: 1px solid #DDDDDD;
	height: 30px;
	line-height: 10px;
	margin-bottom: 5px;
	padding: 10px;
	width: 200px;
}
.dropdown-profile > li {
	border-left: none!important;
}
.dropdown-profile > li > a {
	height: 30px;
	line-height: 10px;
	padding: 10px;
	float: left;
	clear: both;
}
.dropdown-profile > li > a:hover {
	color: #333!important;
}
.dropdown-profile > li > a > span {
	font-size: 12px;
	margin-right: 8px;
}
.porlets-content {
	padding: 15px;
}
.block {
	background: #FFFFFF;
	border: 0 none;
	border-radius: 3px;
	margin-bottom: 30px;
}
.block-web, .block-wizard {
	background: 0 #FFFFFF;
	border-radius: 3px;
	margin-bottom: 20px;
	padding: 20px;
	position: relative;
	transition: padding 500ms ease 0s;
}
.block-web.closed {
	padding-bottom: 9px;
}
.block .header, .widget-block .header, .block-web .header {
	background-color: #FEFEFE;
	border-bottom: 1px solid #DADADA;
	padding: 10px;
	transition: border 500ms ease 0s;
}
.block-web.dark-box .header, .block-web.primary-box .header, .block-web.success-box .header, .block-web.info-box .header, .block-web.danger-box .header, .block-web.warning-box .header {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.block-web.closed .header {
	border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.block .header {
	border-radius: 3px 3px 0 0;
	padding: 10px;
}
.block-web .header {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	margin: -20px -20px 10px;
	padding: 4px 18px;
}
.block-web .header.no-border {
	border: 0 none;
}
.block-web .porlets-content {
	padding: 5px 3px 0;
}
.block-web .porlets-content.full-width {
	margin-bottom: -20px;
	margin-left: -20px;
	margin-right: -20px;
	padding: 0;
}
.block-web .porlets-content h4 {
	font-size: 16px;
}
.block-web.no-padding .porlets-content {
	padding: 0 !important;
}
.block .header h2, .widget-block .header h2, .block-web .header h2 {
	font-size: 29px;
	font-weight: 100;
	line-height: 38px;
	margin: 0;
}
.block .header h3 {
	font-weight: 200;
	margin: 0px;
	color: #fff;
	font-size: 20px;
}
.widget-block .header h3, .block-web .header h3 {
	font-weight: 200;
	margin-top: 3px;
}
.block-web .actions, .block .actions {
	float: right;
	padding-top: 10px;
}
.block-web .actions .refresh i, .block .actions .refresh i {
	font-size: 12px;
}
.block .actions {
	padding-top: 5px;
}
.block-web .actions a {
	color: rgba(0, 0, 0, 0.3);
	margin-left: 6px;
}
.block-web .actions a:hover {
	color: rgba(0, 0, 0, 0.5);
}
.block.block-color .actions a {
	color: #FFFFFF;
	font-size: 14px;
	margin-left: 6px;
}
.block.block-color .actions a:hover i {
	color: rgba(255, 255, 255, 0.8);
}
.block-web.dark-box .actions a {
	color: #FFFFFF;
}
.block-web.dark-box .actions a:hover {
	color: rgba(255, 255, 255, 0.5);
}
.dark-box {
	background-color: #363b3f;
	color: #FFFFFF;
}
.primary-box {
	background-color: #428bca;
	color: #FFFFFF;
}
.success-box {
	background-color: #5cb85c;
	color: #FFFFFF;
}
.info-box {
	background-color: #5bc0de;
	color: #FFFFFF;
}
.warning-box {
	background-color: #f0ad4e;
	color: #FFFFFF;
}
.danger-box {
	background-color: #d9534f;
	color: #FFFFFF;
}
.block .header.dark {
	background-color: #383A41;
	border-bottom: 0 none;
	color: #FFFFFF;
}
.dark-box h3 {
	color: #fff!important;
}
.primary-box h3 {
	color: #fff!important;
}
.info-box h3 {
	color: #fff!important;
}
.success-box h3 {
	color: #fff!important;
}
.danger-box h3 {
	color: #fff!important;
}
.dark-box i {
	color: #fff!important;
}
.primary-box i {
	color: #fff!important;
}
.info-box i {
	color: #fff!important;
}
.success-box i {
	color: #fff!important;
}
.danger-box i {
	color: #fff!important;
}
.block .header h4 {
	font-size: 15px;
	font-weight: 400;
	margin: 6px 0;
}
.block.block-color {
	border-radius: 3px;
	position: relative;
}
.block.block-color .header {
	background: #363b3f;
	border: 0 none;
	color: #FFFFFF;
}
.block.block-color.primary .header {
	background: #428bca;
	color: #FFFFFF;
}
.block.block-color.success .header {
	background: #5cb85c;
	color: #FFFFFF;
}
.block.block-color.info .header {
	background: #5bc0de;
	color: #FFFFFF;
}
.block.block-color.warning .header {
	background: #f0ad4e;
	color: #FFFFFF;
}
.block.block-color.danger .header {
	background: #d9534f;
	color: #FFFFFF;
}
.block .loading, .block-web .loading {
	background: rgba(255, 255, 255, 0.5);
	cursor: wait;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.block .loading i, .block-web .loading i {
	font-size: 26px;
	left: 50%;
	margin-left: -13px;
	margin-top: -13px;
	position: relative;
	top: 50%;
}
.spacer h2 {
	font-size: 26px;
	margin-bottom: 20px;
}
/*lockscreen start*/
.lockscreen {
	height: 250px;
	left: 50%;
	margin-left: -239px;
	margin-top: -185px;
	position: absolute;
	top: 50%;
	width: 478px;
}
.lockscreen .logo {
	display: block;
	padding: 15px 0;
}
.lockscreen .logo + div {
	background: #FFFFFF;
	box-shadow: -21px 32px 40px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	padding: 13px;
	position: relative;
}
.lockscreen .logo > *:first-child {
	margin: 0;
}
.lockscreen .logo img {
	margin-right: -2px;
	margin-top: -4px;
	width: 29px;
}
.lockscreen .logo + div > img {
	float: left;
}
.lockscreen .logo + div > img + div {
	float: right;
	width: 318px;
}
.lockscreen .logo + div > img + div > *:first-child {
	margin-top: 0;
}
.lockscreen .logo + div > img + div > *:first-child > *:first-child {
	opacity: 0.1;
	padding: 15px;
}
.lockscreen .logo + div > img + div > *:first-child > small {
	display: block;
	padding-top: 5px;
}
.lockscreen .logo + div > img + div > *:first-child + p {
	margin-bottom: 12px;
}
.margin-top-5 {
	margin-top: 5px;
}
.margin-top-10 {
	margin-top: 10px;
}
.margin-top-20 {
	margin-top: 20px;
}
 @media (max-width: 767px) {
.lockscreen .logo + div > img {
	float: none !important;
}
.lockscreen {
	height: auto;
	left: 5%;
	margin-left: 0;
	margin-top: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 90%;
}
.lockscreen .logo + div > img + div {
	float: none;
	height: auto;
	width: 100%;
}
}
/*lockscreen end*/
/*Login start*/
.login-container .middle-login {
	left: 50%;
	margin-left: -215px;
	margin-top: -170px;
	position: absolute;
	top: 50%;
	width: 430px;
}
.login-container .block-web {
	border: 0 none;
	box-shadow: -21px 32px 40px rgba(0, 0, 0, 0.2);
	margin-bottom: 20px;
	overflow: hidden;
	padding: 0;
}
.login-container .block-web .head {
	background: #2e3236;
	border-bottom: 1px solid #7761A7;
	padding: 9px 20px;
}
.login-container .block-web .head h3 {
	color: #FFFFFF;
	line-height: 35px;
	margin: 0;
	min-height: 40px;
	position: relative;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.login-container .head .logo-img {
	left: 50%;
	margin-left: -63px;
	margin-top: -13px;
	position: absolute;
	top: 50%;
}
.login-container .block-web .content {
	padding: 30px 30px 5px;
}
.login-container .block-web .content .form-control {
	height: auto;
	padding: 10px 8px;
	box-shadow: none;
}
.login-container .block-web .content .form-group {
	margin-bottom: 10px;
}
.login-container .block-web .content .title {
	margin-bottom: 20px;
	margin-top: 0;
}
.login-container .block-web .foot {
	padding: 0 30px 15px;
	text-align: right;
}
.login-container .block-web .foot .btn {
	min-width: 70px;
}
.login-container .block-web .input-group-addon {
	background: #FAFAFA;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-color: #E5E9EC;
}
.login-container .out-links {
	padding-right: 3px;
}
.login-container .out-links a {
	color: #2e3236;
}
/*Login end*/

/*404error start*/

.error-body {
	background-color: #E5E9EC !important;
	height: 100%;
}
.error-wrapper {
	height: 624px;
	margin: 0 auto -130px;
	min-height: 100%;
	padding: 0 0 60px;
}
.error-wrapper:after {
	content: "";
	display: block;
}
.error-container {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.error-main {
	margin-top: 18%;
	position: absolute;
	text-align: center;
}
.error-container .error-number {
	color: #22262E;
	font-size: 60px;
	font-weight: 300;
	line-height: 80px;
	text-align: center;
}
.error-container .error-description {
	color: #22262E;
	font-size: 32px;
	font-weight: 300;
	text-align: center;
}
.error-container .error-description-mini {
	color: #22262E;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
}
.error-container .input-prepend.inside .add-on {
	background-color: #FFFFFF;
	color: #A1A1A1;
	padding-top: 6px;
}
.error-container ul.footer-links {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
.error-container ul.footer-links li {
	border-right: 1px solid #000000;
	display: inline;
	padding: 0 10px;
}
.error-container ul.footer-links li a {
	color: #22262E;
	font-size: 12px;
}
.error-container ul.footer-links li:last-child {
	border-right: medium none;
	display: inline;
	padding: 0 10px;
}
.error-container ul.footer-links.small-links li a {
	color: #616A7B;
	font-size: 11px;
}
.error-container ul.footer-links.small-links li {
	border-right: 1px solid #616A7B;
}
.error-container ul.footer-links.small-links li:last-child {
	border-right: medium none;
}
.error-container .copyright {
	font-size: 12px;
	text-align: center;
}
.input-with-icon {
	position: relative;
}
.input-with-icon input {
	padding-left: 32px !important;
}
.input-with-icon i {
	color: #E5E9EC;
	display: block;
	font-size: 16px;
	height: 16px;
	margin: 9px 2px 4px 10px;
	position: absolute;
	text-align: center;
	width: 16px;
}
/*404error end*/




.content-header {
	font-size: 18px;
	margin: 0;
	padding: 0;
}
.btn, .ui-button, .icon-separator-vertical {
	display: inline-block;
	position: relative;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	box-shadow: none;
}
.button-content {
	overflow: hidden;
	text-overflow: ellipsis;
}
.button-content, .icon-separator {
	display: block;
	float: left;
	text-align: center;
	white-space: nowrap;
}
.button-content .float-left.glyph-icon {
	margin-right: 5px;
}
.button-content .float-right.glyph-icon {
	margin-left: 5px;
	margin-right: 0;
}
 [data-toggle="buttons"] > .btn input[type="radio"], [data-toggle="buttons"] > .btn input[type="checkbox"] {
 display: none;
}
.button-group-vertical .btn {
	display: block;
	float: none;
}
.button-group-vertical > .btn:first-child {
	border-radius: 0;
}
.button-group-vertical > .btn + .btn {
	border-radius: 0;
	margin-top: -1px;
}
.button-group-vertical > .btn + .btn .icon-separator {
	border-radius: 0;
}
.vertical-button {
	max-width: 100px;
	min-width: 60px;
	padding: 5px 10px;
}
.content-header .btn {
	border-radius: 0;
}
.right-margin {
	margin-right: -6px;
}
.padd-adj {
	padding: 2px 7px;
}
.border-gray {
	border: 1px solid #ccc;
}
.block-web .bottom {
	background: #fcfcfc;
	border-top: 1px solid #ddd;
	margin: 0px -20px -20px;
	padding: 14px 18px;
	clear: both;
}
.panel-icon-add {
	color: #CCCCCC;
	font-size: 70px;
	padding: 4px 0;
	text-align: center;
}
.zero-margin {
	margin: 0px;
}
.zero-margin h3 {
	font-size: 20px
}
.weather-bg {
	background: #45b3aa;
	border-radius: 4px 4px 0 0;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
}
.weather-bg i {
	display: block;
	font-size: 60px;
}
.weather-bg .degree {
	font-size: 60px;
}
.weather-category {
	color: #74829C;
	padding: 34px 0;
}
.weather-category ul {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
}
.weather-category ul li {
	border-right: 1px solid #E6E6E6;
	display: inline-block;
	text-align: center;
	width: 32%;
}
.weather-category ul li h5 {
	font-weight: 300;
	margin: 0 0 5px;
	text-transform: uppercase;
}
.weather-category ul li a {
}
.weather-category ul li:last-child {
	border-right: medium none;
}
.custom-bar-chart {
	border-bottom: 1px solid #C9CDD7;
	height: 290px;
	margin-left: 10px;
	margin-top: 20px;
	position: relative;
}
.custom-bar-chart .bar {
	border-radius: 5px 5px 0 0;
	float: left;
	height: 100%;
	margin: 0 2%;
	position: relative;
	text-align: center;
	width: 8.3%;
	z-index: 10;
}
.custom-bar-chart .bar .title {
	bottom: -20px;
	font-size: 12px;
	position: absolute;
	text-align: center;
	width: 100%;
}
.custom-bar-chart .bar .value {
	background: #53b2ea;
	border-radius: 3px 3px 0 0;
	bottom: 0;
	color: #BFC2CD;
	position: absolute;
	transition: all 0.3s ease 0s;
	width: 100%;
}
.custom-bar-chart .bar .value:hover {
	background: #ff634d;
	color: #FFFFFF;
}
.y-axis {
	color: #555555;
	position: absolute;
	text-align: right;
	width: 100%;
}
.y-axis li {
	border-top: 1px dashed #DBDCE0;
	display: block;
	height: 58px;
	width: 100%;
}
.y-axis li:last-child {
	border-top: medium none;
}
.y-axis li span {
	display: block;
	margin: -10px 0 0 -65px;
	padding: 0 12px;
	width: 40px;
}
.y-axis {
	color: #555555;
	text-align: right;
}
.chart {
	display: inline-block;
	text-align: center;
	width: 100%;
}
.chart .heading {
	text-align: left;
}
.chart .heading span {
	display: block;
}
.panel.green-chart .chart-tittle {
	background: none repeat scroll 0 0 #99C262;
	border-radius: 0 0 4px 4px;
	display: inline-block;
	font-size: 16px;
	font-weight: normal;
	padding: 15px;
	width: 100%;
}
#barchart {
	display: inline-block;
	margin-bottom: -15px;
}
.bar-bg-color {
	background: #ff634d!important;
}
.min-height-fx {
	min-height: 380px;
}
.knob-box {
	width: 150px;
	float: left;
}
.knob-content-box {
	width: 120px;
	float: left;
	margin-left: 20px;
}
.knob-content-box h4 {
	padding: 0px!important;
	margin: 0px!important;
}
.bottom-content-box {
	float: left;
	margin-right: 14px;
}
.task-list li.removed {
	opacity: 0;
	padding-top: 0;
	padding-bottom: 0;
	height: 0;
	overflow: hidden;
	border-top: 0px;
}
.task-list li.selected {
	text-decoration: line-through;
	color: #eee;
}
.task-list li .task-del:hover, .task-list li .task-del:focus {
	text-decoration: none;
}
.list-group-item, a.list-group-item {
	background: #fff;
	border: none;
	margin-bottom: 2px;
}
.green-bg-color {
	background: #2daba4;
	color: #fff;
}
.green-bg-color i {
	color: #fff;
}
.green-bg-color h3 {
	color: #fff;
}
.green-bg-color .list-group-item {
	background: rgba(255,255,255,0.25)!important;
	color: #fff;
}
.orange-bg-color {
	background: #f06464;
	color: #fff;
}
.blue-bg-color {
	background: #66a4d4;
	color: #fff;
}
.paper {
	background: -moz-linear-gradient(center top, #DFE8EC 0%, #FFFFFF 8%) repeat scroll 0 0 / 100% 30px rgba(0, 0, 0, 0);
	font-size: 14px;
	line-height: 30px;
	outline: medium none;
	padding: 30px 55px 27px;
	position: relative;
}
.paper:after {
	border-left: 1px solid #F8D3D3;
	bottom: 0;
	content: "";
	left: 39px;
	position: absolute;
	top: 0;
	width: 0;
}
.widget-notes {
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
}
.widget-notes .content {
	padding: 0;
}
.tab-content {
	background-color: #FFFFFF;
	margin-bottom: 18px;
	overflow: hidden;
	position: relative;
	z-index: 10;
}
.tab-content > .tab-pane, .pill-content > .pill-pane {
	padding: 15px;
}
.tab-content > .active, .pill-content > .active {
	padding: 0px;
}
.tabs-left > .nav-tabs {
	float: left;
	margin-right: 0;
}
.tabs-right > .nav-tabs {
	float: right;
	margin-left: 0;
}
.nav-tabs {
	background-color: #687174;
	margin-bottom: 0;
}
.nav-tabs > li > a {
	border: 0 none;
	border-radius: 0;
	min-width: 70px;
	padding: 10px 20px;
	color: #fff;
}
.nav-tabs > li > a:hover {
	color: #505458;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border-width: 0;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
	border: 0 none;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	color: #505458;
}
.tabs-left > .nav-tabs > li > a {
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}
.tabs-right > .nav-tabs > li > a {
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}
.the-icons {
	padding-top: 17px;
}
.the-icons i {
	color: #505458;
	display: inline-block;
	font-size: 14px;
	margin-right: 10px;
	text-align: right;
	width: 32px;
}
.the-icons a {
	color: #505458;
	font-size: 14px;
}
.the-icons a {
	cursor: pointer;
	display: block;
	height: 32px;
	line-height: 32px;
}
.the-icons a:hover {
	text-decoration: none;
}
.the-icons a:hover .fa, .the-icons a:hover [class*="fa"] {
	font-size: 28px;
	vertical-align: -5px;
}
.progress {
	border-radius: 3px;
	box-shadow: none;
	height: 10px;
	margin-bottom: 15px;
}
.progress-hieght {
	height: 20px;
}
.badge-primary {
	background-color: #428bca;
}
.badge-warning {
	background-color: #f0ad4e;
}
.badge-success {
	background-color: #5cb85c;
}
.badge-danger {
	background-color: #d9534f;
}
.badge-info {
	background-color: #428bca;
}
.demo-btns {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.demo-btns > li {
	display: inline-block;
	margin-bottom: 7px;
}
.btn-label {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.15);
	border-radius: 3px 0 0 3px;
	display: inline-block;
	left: -12px;
	padding: 6px 12px;
	position: relative;
}
.btn-labeled {
	padding-bottom: 0;
	padding-top: 0;
}
.nav-tabs {
	border-bottom: 0 none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border: medium none;
}
.tab-content {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 0 none;
	border-radius: 0;
	margin-bottom: 40px;
	padding: 20px;
}
.tab-content h3 {
	margin-top: 0;
	padding: 0;
}
.tab-content #picture .fileinput .thumbnail {
	border: 0 none;
}
.tab-content #picture .fileinput .thumbnail h2 {
	position: relative;
	top: 30%;
}
.tab-content h3, h2, h1:first-child {
	margin-top: 0;
}
.tab-bottom .nav-tabs {
	margin-bottom: 40px;
}
.tab-bottom .tab-content {
	margin-bottom: 0;
}
.tab-bottom .nav-tabs > li.active > a:after, .tab-bottom .nav-tabs > li.active > a:hover:after, .tab-bottom .nav-tabs > li.active > a:focus:after {
	bottom: 0;
	top: auto;
}
.tab-bottom .nav-tabs > li.active > a, .tab-bottom .nav-tabs > li.active > a:hover, .tab-bottom .nav-tabs > li.active > a:focus {
	border-top: 0 none;
	margin-top: -1px;
}
.tab-bottom .tab-content {
	border-radius: 3px 3px 3px 0;
}
.tab-left .nav-tabs {
	float: left;
}
.tab-left .nav-tabs > li {
	float: none;
	margin-bottom: 0;
	margin-right: 0;
}
.tab-left .nav-tabs > li > a {
	border-radius: 0;
	min-width: 38px;
	padding: 12px 10px;
	text-align: left;
}
.tab-left .nav-tabs > li .fa {
	font-size: 14px;
}
.tab-left .nav-tabs > li.active > a:after, .tab-left .nav-tabs > li.active > a:hover:after, .tab-left .nav-tabs > li.active > a:focus:after {
	bottom: 0;
	height: 100%;
	top: auto;
	width: 2px;
}
.tab-left .nav-tabs > li.active > a, .tab-left .nav-tabs > li.active > a:hover, .tab-left .nav-tabs > li.active > a:focus {
	box-shadow: -1px 3px 4px -3px rgba(0, 0, 0, 0.08);
	margin-right: -1px;
	padding: 13px 10px 12px 9px;
}
.tab-left .tab-content {
	border-radius: 0 3px 3px;
	overflow: auto;
}
.tab-right .nav-tabs {
	float: right;
}
.tab-right .tab-content {
	border-radius: 3px 0 3px 3px;
	overflow: auto;
}
.tab-right .nav-tabs > li {
	float: none;
	margin-bottom: 2px;
	margin-right: 0;
}
.tab-right .nav-tabs > li > a {
	min-width: 38px;
	padding: 12px 10px;
	text-align: left;
}
.tab-right .nav-tabs > li .fa {
	font-size: 14px;
}
.tab-right .nav-tabs > li.active > a:after, .tab-right .nav-tabs > li.active > a:hover:after, .tab-right .nav-tabs > li.active > a:focus:after {
	bottom: 0;
	height: 100%;
	left: auto;
	right: 0;
	top: auto;
	width: 2px;
}
.tab-right .nav-tabs > li.active > a, .tab-right .nav-tabs > li.active > a:hover, .tab-right .nav-tabs > li.active > a:focus {
	border-style: none solid solid none;
	border-width: 0 2px 1px 0;
	box-shadow: 1px 3px 4px -3px rgba(0, 0, 0, 0.08);
	margin-left: -1px;
	padding: 13px 10px 12px 12px;
}
.accordion {
	margin-bottom: 40px;
}
.accordion .panel-heading {
	background: none repeat scroll 0 0 #FFFFFF;
	padding: 0;
}
.accordion .panel-heading a {
	color: #428bca;
	display: block;
	font-size: 15px;
	padding: 10px 16px;
}
.accordion .panel-heading a:hover {
	text-decoration: none !important;
}
.accordion .panel-heading a .fa {
	margin-right: 10px;
	transform: rotate(90deg);
	transition: transform 200ms ease-in-out 0s;
}
.accordion .panel-heading a.collapsed {
	color: #555555;
}
.accordion .panel-heading a.collapsed .fa {
	transform: rotate(0deg);
}
.accordion .panel-heading + .panel-collapse .panel-body {
	border-top: 0 none;
	padding: 3px 20px 20px 34px;
}
.accordion .panel {
	border-radius: 2px;
	border-style: none solid;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
	margin-bottom: 5px;
}
.accordion .panel:first-child {
	border-top: 0 none;
}
.accordion.panel-group .panel + .panel {
	margin-top: 0;
}
.accordion.accordion-color .panel-heading a {
	background-color: #2e3236;
	color: #FFFFFF;
}
.accordion.accordion-color .panel-heading a.collapsed {
	background-color: #FFFFFF;
	color: #555555;
}
.accordion.accordion-color .panel-collapse .panel-body {
	background-color: #2e3236;
	color: #FFFFFF;
}
.accordion.accordion-semi .panel-heading a {
	background-color: #428bca;
	color: #FFFFFF;
	transition: background-color 200ms ease-in-out 0s;
}
.accordion.accordion-semi .panel-heading.success a {
	background-color: #5cb85c;
}
.accordion.accordion-semi .panel-heading.warning a {
	background-color: #f0ad4e;
}
.accordion.accordion-semi .panel-heading.danger a {
	background-color: #d9534f;
}
.accordion.accordion-semi .panel-heading a.collapsed {
	background-color: #FFFFFF;
	color: #555555;
}
.accordion.accordion-semi .panel-collapse .panel-body {
	padding: 15px 20px 20px 34px;
}
.slider {
	display: block;
	margin: 5px 0;
}
.slider.primary .slider-track {
	background: #428bca;
}
.slider.sucess .slider-track {
	background: #5cb85c;
}
.slider.info .slider-track {
	background-color: #5bc0de;
	background-image: none;
}
.slider.warning .slider-track {
	background: #f0ad4e;
}
.slider.danger .slider-track {
	background: #d9534f;
}
.slider.white .slider-track {
	background: #FFFFFF;
}
.slider.slider-vertical {
	margin: 0 10px;
}
.slider-handle.round {
	background: linear-gradient(to bottom, #F8F9FA 13%, #FFFFFF 97%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	box-shadow: 0 2px 1px -1px #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.39);
	height: 26px;
	opacity: 1;
	width: 26px;
}
.slider.slider-horizontal .slider-handle {
	margin-top: -12px !important;
}
.slider.slider-horizontal .slider-track {
	border-radius: 8px !important;
	box-shadow: 0 0 1px 1px rgba(107, 170, 165, 0.33) inset !important;
	height: 3px !important;
}
.slider.slider-vertical .slider-handle {
	margin-left: -11px !important;
}
.slider.slider-vertical .slider-track {
	width: 3px !important;
}
.the-icons [class*="span"]:first-child {
	margin-left: 2.5641%;
}
.slider-selection {
	border-radius: 8px !important;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11) inset !important;
}
.blue .slider-selection {
	background-color: #0A6EA0 !important;
	background-image: none !important;
}
.red .slider-selection {
	background-color: #000000 !important;
	background-image: none !important;
}
.green .slider-selection {
	background-color: #0E766D !important;
	background-image: none !important;
}
.user-profile-sidebar {
	margin: 0 0 20px;
}
.user-profile-sidebar .user-identity {
	margin: 20px 0 0;
}
.user-profile-sidebar img {
	width: 90px;
}
.account-status-data {
	border-bottom: 1px dashed #DDDDDD;
	border-top: 1px dashed #DDDDDD;
	margin: 10px 0 20px;
	padding: 10px 0;
	text-align: center;
}
.account-status-data h5 {
	color: #909090;
	font-size: 11px;
	line-height: 150%;
}
.user-button {
	margin: 15px 0;
}
.user-button .btn {
	margin: 5px 0;
}
#social {
	background: none repeat scroll 0 0 #E5E9EC;
	padding: 10px;
	text-align: center;
}
#social a:hover {
	text-decoration: none;
}
.fa-circle.facebook {
	color: #5471AE;
}
.fa-circle.twitter {
	color: #4EC6F6;
}
.fa-circle.gplus {
	color: #E24E3E;
}
.fa-circle.tumblr {
	color: #4D77A3;
}
.fa-circle.linkedin {
	color: #3097CE;
}
.user-profile-content {
	margin: 30px 15px;
}
.full {
	padding: 0;
}
.block-web .nav-tabs > li > a {
	border-color: -moz-use-text-color;
	border-radius: 0;
	border-style: none;
	border-width: medium;
	color: #fff;
	font-size: 14px;
	line-height: 1.42857;
	margin: 0;
	transition: all 0.4s ease 0s;
}
.block-web .nav-tabs > li > a i {
	color: #FFFFFF;
}
.block-web .media-list {
	margin-top: 30px;
}
.block-web .media-list a {
	color: #1B1E24;
}
.block-web .media-list a:hover {
	color: #212121;
	text-decoration: none;
}
.block-web .media-list .media {
	border-bottom: 1px solid #EAEAEA;
	padding: 5px 20px;
}
.block-web .media-list li.media:last-child {
	border-bottom: medium none;
}
.block-web .media-list .media .media-heading a {
	color: #1B1E24;
	font-size: 14px;
	font-weight: 600;
	margin-right: 5px;
}
.block-web .media-list .media .media-heading small {
	color: #65BD77;
	font-size: 11px;
}
.block-web .media-list .media p {
	color: #909090;
}
.block-web .media-list .media .media-object {
	width: 50px;
}
.block-web .media-list {
}
.block-web .nav-tabs > li.active > a, .block-web .nav-tabs > li.active > a:hover, .block-web .nav-tabs > li.active > a:focus {
	background-color: #FFFFFF;
	border-color: -moz-use-text-color;
	border-style: none;
	border-width: medium;
	color: #1B1E24;
	cursor: default;
}
.block-web .nav-tabs > li.active > a i, .block-web .nav-tabs > li.active > a:hover i, .block-web .nav-tabs > li.active > a:focus i {
	color: #212121;
}
.block-web .additional-box {
	position: absolute;
	right: 15px;
	top: 10px;
	z-index: 99999;
}
.block-web .additional-btn {
	position: absolute;
	right: 15px;
	top: 17px;
	z-index: 99991;
}
.btn-compose-email {
	margin-bottom: 20px;
	padding: 10px 0;
}
.nav-email > li > a > .badge {
	margin-top: 2px;
}
.nav-email > li > a {
	color: #444444;
}
.nav-email > li > a > i {
	margin-right: 10px;
	text-align: center;
	width: 16px;
}
.nav-email > li > a:hover {
	background-color: #D8DCDF;
}
.table-email {
	background-color: #F7F7F7;
	border-bottom: 1px solid #EEEEEE;
	box-shadow: none;
	margin: 0;
}
.table-email tr.unread td {
	background-color: #FFFFFF;
}
.table-email tbody > tr > td {
	vertical-align: middle;
}
.table-email tr:hover {
	background-color: #EEEEEE;
	cursor: pointer;
}
.table-email tr.selected td {
	background-color: #EEEEEE;
}
.table-email .ckbox {
	height: 19px;
	width: 18px;
}
.table-email .ckbox input[type="checkbox"]:checked + label:after {
	top: 2px;
}
.table-email .star {
	color: #CCCCCC;
}
.table-email .star-checked {
	color: #F0AD4E;
}
.table-email td:first-child {
	width: 30px;
}
.table-email td:nth-child(2) {
	width: 30px;
}
.table-email .media {
	margin: 0;
	padding: 0;
}
.table-email .media-object {
	width: 35px;
}
.table-email .media h4 {
	font-size: 14px;
	line-height: normal;
	margin: 0;
}
.table-email .media-meta {
	color: #999999;
	font-size: 11px;
}
.table-email .email-summary {
	margin: 2px 0 0;
}
.table-email .email-summary strong {
	color: #333333;
}
.read-panel {
	border-top: 1px solid #EEEEEE;
	margin-top: 10px;
	padding-top: 20px;
}
.media-object {
	display: block;
}
.read-panel .media-object {
	width: 35px;
}
.read-panel .media h4 {
	font-size: 14px;
	line-height: normal;
	margin: 2px 0 0;
}
.btn-white {
	background-color: #FFFFFF;
	border: 1px solid #E5E9EC;
	color: #5E5E5E;
}
.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .btn-white.disabled, .btn-white[disabled] {
	background-color: #FBFCFD;
	border: 1px solid #B4B9BE;
}
.compose-mail {
	display: inline-block;
	margin-top: 20px;
	position: relative;
	width: 100%;
}
.compose-mail .compose-options {
	color: #979797;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	position: absolute;
	right: 10px;
	top: 7px;
}
.compose-mail input, .compose-mail input:focus {
	border: medium none;
	float: left;
	padding: 0;
	width: 80%;
}
.compose-mail .form-group {
	border: 1px solid #F2F3F6;
	display: inline-block;
	margin-bottom: 0;
	width: 100%;
}
.compose-mail .form-group label {
	float: left;
	line-height: 34px;
	margin-bottom: 0;
	padding-left: 5px;
	width: 8%;
}
.compose-editor input {
	margin-top: 15px;
}
.compose-editor {
	display: inline-block;
	margin-bottom: 15px;
	width: 100%;
}
.compose-btn {
	float: left;
	margin-top: 6px;
}
#to {
	border: none;
}
#subject {
	border: none;
}
.toggle-slide {
	-moz-user-select: none;
	cursor: pointer;
	direction: ltr;
	overflow: hidden;
}
.toggle-slide .toggle-on, .toggle-slide .toggle-off, .toggle-slide .toggle-blob {
	float: left;
}
.toggle-slide .toggle-blob {
	cursor: grab;
	position: relative;
	z-index: 99;
}
.toggle-slide {
	-moz-user-select: none;
	cursor: pointer;
	direction: ltr;
	overflow: hidden;
	border-radius: 3px;
}
.toggle-slide .toggle-on, .toggle-slide .toggle-off, .toggle-slide .toggle-blob {
	float: left;
}
.toggle-slide .toggle-blob {
	cursor: grab;
	position: relative;
	z-index: 99;
}
.toggle-default .toggle-slide {
	border: 1px solid #CCCCCC;
}
.toggle-default .toggle-slide.active {
	border-color: #999999;
}
.toggle-default .toggle-slide .toggle-on, .toggle-default .toggle-slide .toggle-off, .toggle-default .toggle-slide .toggle-blob {
	font-size: 11px;
	font-weight: 500;
}
.toggle-default .toggle-slide .toggle-on, .toggle-default .toggle-select .toggle-inner .active {
	background: none repeat scroll 0 0 #999999;
	color: #FFFFFF;
}
.toggle-default .toggle-slide .toggle-off, .toggle-default .toggle-select .toggle-on {
	background: none repeat scroll 0 0 #F7F7F7;
	color: #666666;
}
.toggle-default .toggle-slide .toggle-blob {
	background: none repeat scroll 0 0 #FFFFFF;
	border-right: 1px solid #CCCCCC;
}
.toggle-default .toggle-slide.active .toggle-blob {
	border-left: 1px solid #999999;
	border-right: 0 none;
}
.toggle-default .toggle-slide .toggle-blob:hover {
	background: none repeat scroll 0 0 #FCFCFC;
}
.toggle-primary .toggle-slide {
	border: 1px solid #999999;
}
.toggle-primary .toggle-slide.active {
	border-color: #357EBD;
}
.toggle-primary .toggle-slide .toggle-on, .toggle-primary .toggle-slide .toggle-off, .toggle-primary .toggle-slide .toggle-blob {
	font-size: 11px;
	font-weight: 500;
}
.toggle-primary .toggle-slide .toggle-on, .toggle-primary .toggle-select .toggle-inner .active {
	background: none repeat scroll 0 0 #428BCA;
	color: #FFFFFF;
}
.toggle-primary .toggle-slide .toggle-off, .toggle-primary .toggle-select .toggle-on {
	background: none repeat scroll 0 0 #BBBBBB;
	color: #FFFFFF;
}
.toggle-primary .toggle-slide .toggle-blob {
	background: none repeat scroll 0 0 #FFFFFF;
	border-right: 1px solid #999999;
}
.toggle-primary .toggle-slide.active .toggle-blob {
	border-left: 1px solid #357EBD;
	border-right: 0 none;
}
.toggle-primary .toggle-slide .toggle-blob:hover {
	background: none repeat scroll 0 0 #FCFCFC;
}
.toggle-success .toggle-slide {
	border: 1px solid #999999;
}
.toggle-success .toggle-slide.active {
	border-color: #1CAF9A;
}
.toggle-success .toggle-slide .toggle-on, .toggle-success .toggle-slide .toggle-off, .toggle-success .toggle-slide .toggle-blob {
	font-size: 11px;
	font-weight: 500;
}
.toggle-success .toggle-slide .toggle-on, .toggle-success .toggle-select .toggle-inner .active {
	background: none repeat scroll 0 0 #1CAF9A;
	color: #FFFFFF;
}
.toggle-success .toggle-slide .toggle-off, .toggle-success .toggle-select .toggle-on {
	background: none repeat scroll 0 0 #BBBBBB;
	color: #FFFFFF;
}
.toggle-success .toggle-slide .toggle-blob {
	background: none repeat scroll 0 0 #FFFFFF;
	border-right: 1px solid #999999;
}
.toggle-success .toggle-slide.active .toggle-blob {
	border-left: 1px solid #4CAE4C;
	border-right: 0 none;
}
.toggle-success .toggle-slide .toggle-blob:hover {
	background: none repeat scroll 0 0 #FCFCFC;
}
.toggle-warning .toggle-slide {
	border: 1px solid #999999;
}
.toggle-warning .toggle-slide.active {
	border-color: #EEA236;
}
.toggle-warning .toggle-slide .toggle-on, .toggle-warning .toggle-slide .toggle-off, .toggle-warning .toggle-slide .toggle-blob {
	font-size: 11px;
	font-weight: 500;
}
.toggle-warning .toggle-slide .toggle-on, .toggle-warning .toggle-select .toggle-inner .active {
	background: none repeat scroll 0 0 #F0AD4E;
	color: #FFFFFF;
}
.toggle-warning .toggle-slide .toggle-off, .toggle-warning .toggle-select .toggle-on {
	background: none repeat scroll 0 0 #BBBBBB;
	color: #FFFFFF;
}
.toggle-warning .toggle-slide .toggle-blob {
	background: none repeat scroll 0 0 #FFFFFF;
	border-right: 1px solid #999999;
}
.toggle-warning .toggle-slide.active .toggle-blob {
	border-left: 1px solid #EEA236;
	border-right: 0 none;
}
.toggle-warning .toggle-slide .toggle-blob:hover {
	background: none repeat scroll 0 0 #FCFCFC;
}
.toggle-danger .toggle-slide {
	border: 1px solid #999999;
}
.toggle-danger .toggle-slide.active {
	border-color: #D43F3A;
}
.toggle-danger .toggle-slide .toggle-on, .toggle-danger .toggle-slide .toggle-off, .toggle-danger .toggle-slide .toggle-blob {
	font-size: 11px;
	font-weight: 500;
}
.toggle-danger .toggle-slide .toggle-on, .toggle-danger .toggle-select .toggle-inner .active {
	background: none repeat scroll 0 0 #D9534F;
	color: #FFFFFF;
}
.toggle-danger .toggle-slide .toggle-off, .toggle-danger .toggle-select .toggle-on {
	background: none repeat scroll 0 0 #BBBBBB;
	color: #FFFFFF;
}
.toggle-danger .toggle-slide .toggle-blob {
	background: none repeat scroll 0 0 #FFFFFF;
	border-right: 1px solid #999999;
}
.toggle-danger .toggle-slide.active .toggle-blob {
	border-left: 1px solid #D43F3A;
	border-right: 0 none;
}
.toggle-danger .toggle-slide .toggle-blob:hover {
	background: none repeat scroll 0 0 #FCFCFC;
}
.ckbox, .rdio {
	position: relative;
}
.ckbox input[type="checkbox"], .rdio input[type="radio"] {
	opacity: 0;
}
.ckbox label, .rdio label {
	cursor: pointer;
	margin-bottom: 15px !important;
	margin-left: 30px!important;
}
.ckbox label:before {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #BBBBBB;
	border-radius: 2px;
	content: "";
	display: inline-block;
	height: 18px;
	left: 0;
	position: absolute;
	top: 1px;
	width: 18px;
}
.ckbox input[type="checkbox"]:disabled + label {
	color: #999999;
}
.ckbox input[type="checkbox"]:disabled + label:before {
	background-color: #EEEEEE;
}
.ckbox input[type="checkbox"]:checked + label:after {
	color: #FFFFFF;
	content: "";
	display: inline-block;
	font-family: 'FontAwesome';
	font-size: 11px;
	height: 16px;
	left: 3.5px;
	position: absolute;
	top: 0;
	width: 16px;
}
.ckbox-default input[type="checkbox"]:checked + label:before {
	border-color: #999999;
}
.ckbox-default input[type="checkbox"]:checked + label:after {
	color: #333333;
}
.ckbox-primary input[type="checkbox"]:checked + label:before {
	background-color: #428bca;
	border-color: #428bca;
}
.ckbox-warning input[type="checkbox"]:checked + label:before {
	background-color: #f0ad4e;
	border-color: #f0ad4e;
}
.ckbox-success input[type="checkbox"]:checked + label:before {
	background-color: #5cb85c;
	border-color: #5cb85c;
}
.ckbox-danger input[type="checkbox"]:checked + label:before {
	background-color: #d9534f;
	border-color: #d9534f;
}
.rdio label:before {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #BBBBBB;
	border-radius: 50px;
	content: "";
	display: inline-block;
	height: 18px;
	left: 0;
	position: absolute;
	top: 1px;
	width: 18px;
}
.rdio input[type="radio"]:disabled + label {
	color: #999999;
}
.rdio input[type="radio"]:disabled + label:before {
	background-color: #EEEEEE;
}
.rdio input[type="radio"]:checked + label:after {
	background-color: #444444;
	border-radius: 50px;
	content: "";
	display: inline-block;
	font-size: 11px;
	height: 10px;
	left: 4px;
	position: absolute;
	top: 5px;
	width: 10px;
}
.rdio-default input[type="radio"]:checked + label:before {
	border-color: #999999;
}
.rdio-primary input[type="radio"]:checked + label:before {
	border-color: #428bca;
}
.rdio-primary input[type="radio"]:checked + label:after {
	background-color: #428bca;
}
.rdio-warning input[type="radio"]:checked + label:before {
	border-color: #f0ad4e;
}
.rdio-warning input[type="radio"]:checked + label:after {
	background-color: #f0ad4e;
}
.rdio-success input[type="radio"]:checked + label:before {
	border-color: #5cb85c;
}
.rdio-success input[type="radio"]:checked + label:after {
	background-color: #5cb85c;
}
.rdio-danger input[type="radio"]:checked + label:before {
	border-color: #d9534f;
}
.rdio-danger input[type="radio"]:checked + label:after {
	background-color: #d9534f;
}
.basic-wizard .nav li a {
	background: none repeat scroll 0 0 #E4E7EA;
	border-bottom: 1px solid #CCCCCC;
	border-radius: 0;
	border-right: 1px solid #CCCCCC;
	color: #4A535E;
	opacity: 0.75;
}
.basic-wizard .nav li:last-child a {
	border-right: 0 none;
}
.basic-wizard .nav li a:hover {
	background-color: #F7F7F7;
	opacity: 1;
}
.basic-wizard .nav li.active a, .basic-wizard .nav li.active a:focus, .basic-wizard .nav li.active a:active {
	background: none repeat scroll 0 0 #FCFCFC;
	border-bottom-color: #FCFCFC;
	color: #333333;
	opacity: 1;
}
.basic-wizard .pager {
	background: none repeat scroll 0 0 #F7F7F7;
	border-top: 1px solid #DDDDDD;
	margin: 0;
	padding: 10px;
}
.basic-wizard .pager li a {
	background-color: #428BCA;
	border-color: #357EBD;
	border-radius: 2px;
	color: #FFFFFF;
}
.basic-wizard .pager li a:hover {
	background-color: #3276B1;
	border-color: #285E8E;
}
.basic-wizard .pager li.disabled a {
	background: none repeat scroll 0 0 #EEEEEE;
	border-color: #CCCCCC;
	color: #999999;
}
.basic-wizard .progress {
	border-radius: 2px;
	height: 12px;
}
.basic-wizard .nav-disabled-click li a:hover, .basic-wizard .nav-disabled-click li a:active, .basic-wizard .nav-disabled-click li a:focus {
	background-color: #E4E7EA;
	color: #4A535E;
	cursor: default;
	opacity: 0.75;
}
.basic-wizard .nav-disabled-click li.active a:hover, .basic-wizard .nav-disabled-click li.active a:active, .basic-wizard .nav-disabled-click li.active a:focus {
	background: none repeat scroll 0 0 #FCFCFC;
	color: #333333;
	opacity: 1;
}
.basic-wizard .tab-content {
	border-radius: 0;
	box-shadow: none;
}
.form .form-control {
	margin-bottom: 15px;
}
.cke_top {
	background: #e4e7ea!important;
	border-bottom: 1px solid #B6B6B6;
	box-shadow: 0 1px 0 #FFFFFF inset;
	padding: 6px 8px 2px;
}
.cke_bottom {
	background: #e4e7ea!important;
	border-top: 1px solid #BFBFBF;
	box-shadow: 0 1px 0 #FFFFFF inset;
	padding: 6px 8px 2px;
	position: relative;
}
.parsley-error-list {
	margin-top: 4px;
	padding: 0;
}
.parsley-error-list li {
	color: #CC0000;
	list-style: none outside none;
	padding: 0;
}
.parsley-error {
	border-color: #CC0000 !important;
}
.thumbnail {
	margin-bottom: 0px;
}
.thumbnail-view {
	cursor: zoom-in;
	display: inline-block;
	overflow: hidden;
	position: relative;
}
.thumbnail-view img {
	max-width: 100%;
}
.thumbnail-view .thumbnail-view-hover {
	background: url(../images/gallery/zoom.png) no-repeat scroll 50% center #111111;
	display: block;
	height: 100%;
	opacity: 0.5;
	position: absolute;
	right: 0;
	transform: translateY(-100%);
	transition: all 0.25s ease-in-out 0s;
	width: 100%;
	z-index: 10;
}
.thumbnail-view:hover .thumbnail-view-hover {
	opacity: 0.5;
	transform: translateY(0%);
}
.thumbnail-footer {
	border-top: 1px dotted #CCCCCC;
	padding: 7px 10px;
}
.thumbnail-footer:before, .thumbnail-footer:after {
	content: " ";
	display: table;
}
.thumbnail-footer:after {
	clear: both;
}
.thumbnail-footer a {
	color: #999999;
	font-size: 12px;
}
.thumbnail-footer a:hover {
	color: #E5412D;
	text-decoration: none;
}
.thumbnail-footer .pull-left a {
	padding: 0 12px 0 0;
}
.thumbnail-footer .pull-right a {
	padding: 0 0 0 12px;
}
.ui-lightbox, .ui-lightbox-gallery a {
	cursor: -moz-zoom-in;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}


/*tree views css start*/

.treeview, .treeview ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.treeview ul {
	background-color: white;
	margin-top: 4px;
}

.treeview .hitarea {
	background: url(../plugins/tree-views/images/treeview-default.gif) -64px -25px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
	display: inline;
	float:none;
}

.treeview li {
	margin: 0;
	padding: 3px 0pt 3px 16px;
}

.treeview a.selected {
	background-color: #eee;
}

#treecontrol { margin: 1em 0; display: none; }

.treeview .hover { color: red; cursor: pointer; }

.treeview li { background: url(../plugins/tree-views/images/treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }

.treeview .expandable-hitarea { background-position: -80px -3px; }

.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(../plugins/tree-views/images/treeview-default.gif); }
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }

.treeview-red li { background-image: url(../plugins/tree-views/images/treeview-red-line.gif); }
.treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable { background-image: url(../plugins/tree-views/images/treeview-red.gif); }

.treeview-black li { background-image: url(../plugins/tree-views/images/treeview-black-line.gif); }
.treeview-black .hitarea, .treeview-black li.lastCollapsable, .treeview-black li.lastExpandable { background-image: url(../plugins/tree-views/images/treeview-black.gif); }

.treeview-gray li { background-image: url(../plugins/tree-views/images/treeview-gray-line.gif); }
.treeview-gray .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable { background-image: url(../plugins/tree-views/images/treeview-gray.gif); }

.treeview-famfamfam li { background-image: url(../plugins/tree-views/images/treeview-famfamfam-line.gif); }
.treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable, .treeview-famfamfam li.lastExpandable { background-image: url(../plugins/tree-views/images/treeview-famfamfam.gif); }

.treeview .placeholder {
	background: url(../plugins/tree-views/images/ajax-loader.gif) 0 0 no-repeat;
	height: 16px;
	width: 16px;
	display: block;
}

.filetree li { padding: 3px 0 2px 16px; }
.filetree span.folder, .filetree span.file { padding: 1px 0 1px 16px; display: block; }
.filetree span.folder { background: url(../plugins/tree-views/images/folder.gif) 0 0 no-repeat; }
.filetree li.expandable span.folder { background: url(../plugins/tree-views/images/folder-closed.gif) 0 0 no-repeat; }
.filetree span.file { background: url(../plugins/tree-views/images/file.gif) 0 0 no-repeat; }

/*tree views css end*/



.inputWidth{ width:170px;}
.register-bottom {
    background: none repeat scroll 0 0 #FCFCFC;
    border-top: 1px solid #DDDDDD;
    clear: both;
    fright: 20px;
    margin: 0 -19px;
    padding: 14px 55px;
}
/*timeline css style*/

.timeline {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    position: relative;
    table-layout: fixed;
    width: 100%;
}
.timeline .time-show {
    margin-bottom: 30px;
    margin-right: -75px;
    margin-top: 30px;
    position: relative;
}
.timeline .time-show.first {
}
.time-show .btn {
    width: 150px;
}
.timeline .time-show a {
    color: #FFFFFF;
}
.timeline:before {
    background-color: #D8D9DF;
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    top: 30px;
    width: 1px;
    z-index: 0;
}
h3.timeline-title {
    color: #C8CCD7;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 5px;
    text-transform: uppercase;
}
.t-info {
    color: #C8CCD7;
}
.timeline-item:before, .timeline-item.alt:after {
    content: "";
    display: block;
    width: 50%;
}
.timeline-item {
    display: table-row;
}
.timeline-desk {
    display: table-cell;
    vertical-align: top;
    width: 50%;
}
.timeline-desk h1 {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 5px;
}
.timeline-desk .panel {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    margin-left: 45px;
    position: relative;
    text-align: left;
}
.timeline-item .timeline-desk .arrow {
    border-bottom: 8px solid rgba(0, 0, 0, 0);
    border-top: 8px solid rgba(0, 0, 0, 0);
    display: block;
    height: 0;
    left: -7px;
    position: absolute;
    top: 13px;
    width: 0;
}
.timeline-item .timeline-desk .arrow {
    border-right: 8px solid #FFFFFF !important;
}
.timeline-item.alt .timeline-desk .arrow-alt {
    border-bottom: 8px solid rgba(0, 0, 0, 0);
    border-top: 8px solid rgba(0, 0, 0, 0);
    display: block;
    height: 0;
    left: auto;
    position: absolute;
    right: -7px;
    top: 13px;
    width: 0;
}
.timeline-item.alt .timeline-desk .arrow-alt {
    border-left: 8px solid #FFFFFF !important;
}
.timeline .timeline-icon {
    left: -60px;
    position: absolute;
    top: 5px;
}
.timeline .timeline-icon {
    background: none repeat scroll 0 0 #C7CBD6;
}
.timeline-desk span a {
    text-transform: uppercase;
}
.timeline-desk h1.red, .timeline-desk span a.red {
    color: #EF6F66;
}
.timeline-desk h1.green, .timeline-desk span a.green {
    color: #39B6AE;
}
.timeline-desk h1.blue, .timeline-desk span a.blue {
    color: #56C9F5;
}
.timeline-desk h1.purple, .timeline-desk span a.purple {
    color: #8074C6;
}
.timeline-desk h1.light-green, .timeline-desk span a.light-green {
    color: #A8D76F;
}
.timeline-desk h1.yellow, .timeline-desk span a.yellow {
    color: #FED65A;
}
.timeline .timeline-icon.red {
    background: none repeat scroll 0 0 #F87C74;
}
.timeline .timeline-icon.green {
    background: none repeat scroll 0 0 #48C5BD;
}
.timeline .timeline-icon.blue {
    background: none repeat scroll 0 0 #67D4FE;
}
.timeline .timeline-icon.purple {
    background: none repeat scroll 0 0 #8074C6;
}
.timeline .timeline-icon.light-green {
    background: none repeat scroll 0 0 #B0E077;
}
.timeline .timeline-icon.yellow {
    background: none repeat scroll 0 0 #FFDC6F;
}
.timeline .timeline-icon {
    border-radius: 50%;
    color: #FFFFFF;
    display: block;
    height: 30px;
    text-align: center;
    width: 30px;
}
.timeline .timeline-icon i {
    margin-top: 9px;
}
.timeline-item.alt .timeline-icon {
    left: auto;
    right: -60px;
}
.timeline .time-icon:before {
    font-size: 16px;
    margin-top: 5px;
}
.timeline .timeline-date {
    display: none;
    left: -245px;
    position: absolute;
    text-align: right;
    top: 12px;
    width: 150px;
}
.timeline-item.alt .timeline-date {
    display: none;
    left: auto;
    right: -245px;
    text-align: left;
}
.timeline-desk h5 span {
    color: #999999;
    display: block;
    font-size: 12px;
    margin-bottom: 4px;
}
.timeline-item.alt:before {
    display: none;
}
.timeline-item:before, .timeline-item.alt:after {
    content: "";
    display: block;
    width: 50%;
}
.timeline-desk p {
    color: #999999;
    font-size: 14px;
    margin-bottom: 0;
}
.timeline-desk a {
    color: #1FB5AD;
}
.timeline-desk .panel {
    margin-bottom: 5px;
}
.timeline-desk .album {
    margin-top: 20px;
}
.timeline-item.alt .timeline-desk .album {
    float: right;
    margin-top: 20px;
}
.timeline-desk .album a {
    float: left;
    margin-right: 5px;
}
.timeline-item.alt .timeline-desk .album a {
    float: right;
    margin-left: 5px;
}
.timeline-desk .notification {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-top: 20px;
    padding: 8px;
}
.timeline-item.alt .panel {
    margin-left: 0;
    margin-right: 45px;
}
.mbot30 {
    margin-bottom: 30px;
}
.timeline-item.alt h1, .timeline-item.alt p {
    text-align: right;
}









select {
    -moz-appearance: none;
    background: url(../images/select.png) no-repeat scroll right center / 24px 20px #FFFFFF !important;
    border: 1px solid #E1E6EF !important;
    border-radius: 2px !important;
    box-shadow: none !important;
    color: #888888;
    cursor: pointer;
    display: inline-block;
    outline: medium none;
}
select[disabled] {
    background-color: #F2F4F8 !important;
    color: #C0CADD;
}
select[multiple] {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
select.input-lg {
    padding: 0 11px;
}
select.input-sm {
    padding: 0 12px;
}
.select2-drop {
    border: 1px solid #E1E6EF;
    border-radius: 0 0 2px 2px;
    box-shadow: none;
    color: #374767;
}
.select2-container-multi .select2-choices {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E1E6EF !important;
    border-radius: 2px !important;
    box-shadow: none !important;
    margin: -7px -13px 0 !important;
}
.select2-default {
    color: #C0CADD !important;
    padding-left: 12px !important;
}
.select2-container-multi .select2-choices .select2-search-choice {
    background-color: #F2F4F8;
    background-image: none;
    border: 1px solid #E1E6EF;
    border-radius: 1px;
    box-shadow: none;
    filter: none;
    font-size: 11px;
    margin: 5px 0 3px 5px;
    padding: 3px 5px 4px 18px;
}
.select2-container-multi .select2-choices .select2-search-field input {
    color: #374767;
}
@-moz-document url-prefix("") {
select {
    text-indent: 0.01px;
    text-overflow: "";
}
select.input-lg {
    padding: 10px 11px;
}
select.input-sm {
    padding: 6px 12px;
}
.select2-container-multi .select2-choices {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 1px solid rgba(0, 0, 0, 0) !important;
    margin: -3px -13px 0 !important;
}
.select2-container-multi .select2-choices .select2-search-choice {
    margin: 1px 0 3px 5px;
}
}
.limiterBox {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: content-box;
    background-color: #E1E6EF;
    border-color: -moz-use-text-color #E1E6EF #E1E6EF;
    border-image: none;
    border-right: 1px solid #E1E6EF;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    color: #FFFFFF;
    font-size: 10px;
    opacity: 0.9;
    padding: 3px 6px;
}
.editor {
    -moz-box-sizing: content-box;
    background-color: #FFFFFF;
    border: 1px solid #E1E6EF;
    border-collapse: separate;
    border-radius: 2px;
    height: 250px;
    margin-top: 20px;
    max-height: 250px;
    outline: medium none;
    overflow: scroll;
    padding: 4px;
}
div[data-role="editor-toolbar"] {
    -moz-user-select: none;
}
.dropdown-menu a {
    cursor: pointer;
}
.twitter-typeahead .tt-query, .twitter-typeahead .tt-hint {
    margin-bottom: 0;
}





.right-info-bar {
    background-color: #FFFFFF;
    box-shadow: 0 0 3px #4D4D4D;
    height: 100%;
    padding: 0;
    position: fixed;
    right: -250px;
    top: 40px;
    transition: right 0.5s ease 0s;
    width: 240px;
    z-index: 9999;
}
.right-info-bar .block {
    background-color: #F7F7F7;
    margin-bottom: 10px;
}
.right-info-bar .block .heading {
    background-color: #E6E6E6;
    color: #4D4D4D;
    font-size: 15px;
    margin: 0;
    padding: 10px;
}

.infos {
    margin: 0 10px;
    padding: 0;
}
.infos li {
    border-bottom: 1px solid #E6E6E6;
    cursor: pointer;
    display: block;
    padding: 8px 0;
}
.infos li .label {
    display: inline-block;
    margin-right: 10px;
    padding: 6px;
    text-align: center;
    width: 24px;
}
.infos li .label i {
    font-size: 10px;
}
.infos li .user img {
    border: 1px solid #CCCCCC;
    border-radius: 50%;
    height: 24px;
    width: 24px;
}
.infos li .info {
    color: #33393C;
    margin-left: 34px;
}
.infos li .info h6 {
    font-size: 11px;
    font-weight: 500;
    line-height: 100%;
    margin: 0 0 2px;
    padding: 0;
}
.infos li .info p {
    color: #999999;
    font-size: 10px;
    line-height: 100%;
    margin: 0;
    padding: 0;
}
.infos li .info small {
    color: #666666;
    font-size: 11px;
}
.infos li a {
    color: #33393C;
    font-weight: 500;
}
.infos li a span {
    color: #808080;
    font-size: 11px;
    font-weight: 200;
}
.infos li:last-child {
    border-bottom: 0 none;
}
.online-users {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.online-users li a {
    display: block;
    padding: 3px 10px;
    position: relative;
}
.online-users li a img {
    height: 16px;
    margin-right: 3px;
    width: 16px;
}
.online-users li a .user-name {
    display: inline-block;
}
.online-users li a .user-status, .online-users li a .user-status.online, .online-users li a .user-status.busy, .online-users li a .user-status.away {
    background: none repeat scroll 0 0 #CCCCCC;
    border-radius: 100%;
    box-shadow: 0 0 4px #999999 inset;
    height: 8px;
    position: absolute;
    right: 5px;
    top: 6px;
    width: 8px;
}
.online-users li a .user-status.online, .online-users li a .user-status.online.online, .online-users li a .user-status.busy.online, .online-users li a .user-status.away.online {
    background: none repeat scroll 0 0 #5cb85c;
}
.online-users li a .user-status.busy, .online-users li a .user-status.online.busy, .online-users li a .user-status.busy.busy, .online-users li a .user-status.away.busy {
    background: none repeat scroll 0 0 #ff634d;
}
.online-users li a .user-status.away, .online-users li a .user-status.online.away, .online-users li a .user-status.busy.away, .online-users li a .user-status.away.away {
    background: none repeat scroll 0 0 #fef00b;
}
.progress-statistics {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.progress-statistics li {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
    padding: 5px 10px;
    transition: all 0.5s ease 0s;
}
.progress-statistics li .progress {
    background-color: #E0E0E0;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #E0E0E0);
    margin-bottom: 3px;
    margin-top: 3px;
}
.progress-statistics li .details {
    display: inline;
    font-size: 11px;
    font-weight: 700;
}
